.headerComponentRightSideResponsiveMenu {
  display: none;
}

@media screen and (max-width: 800px) {
  .headerComponentRightSideButton {
    display: none;
  }

  .headerComponentMiddleMenuList {
    display: none;
  }

  .headerComponentRightSideResponsiveMenu {
    display: block;
  }
}

