.landingPageComponent {
  display: flex;
  flex-direction: column;
}

.menuComponent {
  background-color: rgba(25, 103, 219);
  position: sticky;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;
}

.menuLogoComponent {
  margin-left: 1em;
}

.menuLogoComponent p {
  color: #f9faff;
}

.menuItemsList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: #f9faff;
  margin-right: 1em;
}

.menuItemsList :hover {
  cursor: pointer;
  font-size: 1.1em;
}

.menuItem {
  text-decoration: inherit;
  color: #f9faff;
  font-weight: bold;
}

.pageComponent {
  /* margin-top: 3em; */
  margin: 0;
  padding: 0 5em;
}

.homePageComponent {
  display: flex;
  /* background-image: url('/sala-comum-turva.jpg'); */
  /* background-size: cover; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* opacity: 0; */
  /* padding: 2em; */
  height: 65vh;
  margin-top: 3em;
  font-size: 90%;
  margin-bottom: 5em;
}

.homePageSessionOneComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 3em; */
  width: 55%;
}

.homePageSessionTwoComponent {
  /* background-image: url('/VALPH.jpg'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */

  /* max-width: 100%; */
  /* min-width: 1000px; */
  height: 50vh;
  /* width: 100%; */

  width: 45%;
  /* padding: 1em; */
  /* padding: -20em; */
  /* margin: 5em; */

  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 1em; */
  height: fit-content;
}

.homePageSessionTwoComponent img {
  max-width: 100%;
  height: 65vh;
  width: 70%;
  /* margin-top: 1em; */
}

.homePageSessionOneButtonsComponent {
  display: flex;
  gap: 1em;
}

.homePageSessionOneButtonsComponent button {
  width: 220px;
  height: 60px;
  font-weight: bold;
  background-color: rgb(223, 178, 66);
  border: none;
  color: white;
  margin: 2em 0;
}

.homePageSessionOneButtonsComponent button a {
  text-decoration: inherit;
  color: white;
  text-transform: none;
  font-size: 1.5em;
}

.aboutPageComponent {
  margin: 2em 0;
}

.aboutPageSessionOneComponent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.aboutPageSessionOneComponent button {
  width: 140px;
  height: 40px;
  /* background-color: rgb(163, 120, 42); */
  background-color: rgb(223, 178, 66);
  border: none;
}

.aboutPageSessionOneComponent button a {
  color: #f9faff;
  text-decoration: none;
  font-weight: bold;
}

.faqPageComponent {
  margin: 2em 0;

}

.faqPageSessionOneComponent {
  display: flex;
  flex-direction: column;
}

.faqPageSessionOneComponent h1 {
  margin-top: 0.5em;
}

.faqListComponent {
  margin-top: 1em;
}

.contactPageComponent {
  margin: 1em;
}

.contactPageSessionOneComponent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contactPageSessionOneComponent h1 {
  margin-top: 0.25em;
}

.contactFlexSessionComponent {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.contactFlexSessionOneComponent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 49%;
}

.contactFlexSessionTwoComponent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 49%;
}

.footerComponent {
  /* background-color: rgba(25, 103, 219); */
  width: 100%;
  height: 100%;
  color: #f9faff;
  padding: 1em;
}

/* Remova a margem superior das seções com links de âncora */
#home,
#about,
#faq,
#contact {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {

  .homePageComponent {
    /* padding: 2em; */
    margin: 0;
    font-size: 80%;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /* Adiciona posição relativa ao container */

    /* background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/valphll1.png'); */
    background-image: linear-gradient(rgba(249, 250, 255, 0.8), rgba(249, 250, 255, 0.8)), url('/valphll1.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
  }

  .homePageComponent::before {
    content: '';
    /* Cria um pseudo-elemento para a imagem de fundo */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/valphll1.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    opacity: 0.5;
    /* Define a opacidade desejada (ajuste conforme necessário) */
    z-index: -1;
    /* Coloca o pseudo-elemento atrás do conteúdo */
  }

  .homePageSessionOneButtonsComponent button a {
    /* color: black; */
  }

  .homePageSessionOneComponentHahahaha2 {
    display: none;
  }

  .tryTheBest {
    margin: 0;
    padding: 0;
    /* background-color: red; */
    line-height: 1em;
    margin-top: 1.5rem;
  }

  .tryTheBest h2 {
    margin: 1rem;
    padding: 0;
    /* background-color: green; */
    line-height: 1.5em;
    font-size: 3em;
  }

  .homePageSessionOneComponentHahahaha {
    font-size: 4em;
    /* margin-top: 1em; */
    line-height: 0.8em;
  }

  .homePageSessionTwoComponent {
    display: none;
  }

  .homePageSessionOneComponent {
    width: 100%;
  }


  .homePageSessionOneButtonsComponent {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }



  .contactFlexSessionOneComponent {
    width: 100%;
  }

  .contactFlexSessionOneComponent,
  .contactFlexSessionTwoComponent {
    width: 100%;
  }

  .contactPageSessionOneComponent,
  .faqPageSessionOneComponent

  /* .aboutPageSessionOneComponent, */
  /* .homePageSessionOneComponent { */
    {
    align-items: center;
    justify-content: center;
  }


  .pageComponent {
    /* margin-top: 3em; */
    margin: 0;
    padding: 0;
  }
}





.footerComponent {
  color: white;
  padding: 3em 6em;
  width: 100%;
  background-color: #2b2b2c;
  height: 100%;
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 9999;
}

.footerSessionOneComponent {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.footerAnchorItemOne {
  text-decoration: none;
  color: rgb(223, 178, 66);
}

.footerSessionThreeComponent {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.socialIconsSpan {
  display: flex;
  gap: 0.5em;
  color: rgb(223, 178, 66);
}

.footerSessionTwoComponent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media screen and (max-width: 800px) {
  .footerComponent {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    color: white;
    padding: 2em;
    /* align-items: center; */
  }

}