.landingPageComponent {
  display: flex;
  flex-direction: column;
}

.menuComponent {
  background-color: rgba(25, 103, 219);
  position: sticky;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 100;
}

.menuLogoComponent {
  margin-left: 1em;
}

.menuLogoComponent p{
  color: white;
}

.menuItemsList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: white;
  margin-right: 1em;
}

.menuItemsList :hover {
  cursor: pointer;
  font-size: 1.1em;
}

.menuItem {
  text-decoration: inherit;
  color: white;
  font-weight: bold;
}

.pageComponent {
  /* margin-top: 3em; */
}

.homePageComponent {
  display: flex;
}

.homePageSessionOneComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin: 1em;
  width: 60%;
}

.homePageSessionTwoComponent {
  width: 40%;
  max-width: 100%;
  margin: 1em;
}

.homePageSessionOneButtonsComponent {
  display: flex;
  gap: 1em;
}

.homePageSessionOneButtonsComponent button {
  width: 220px;
  height: 40px;
  font-weight: bold;

}

.homePageSessionOneButtonsComponent button a {
  text-decoration: inherit;
  color: white;
}

.aboutPageComponent {
  margin: 1em;
}

.aboutPageSessionOneComponent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.aboutPageSessionOneComponent button {
  width: 120px;
  height: 40px;
}

.aboutPageSessionOneComponent button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.faqPageComponent {
  margin: 1em;
}

.faqPageSessionOneComponent {
  display: flex;
  flex-direction: column;
}

.faqPageSessionOneComponent h1 {
  margin-top: 0.5em;
}

.faqListComponent {
  margin-top: 1em;
}

.contactPageComponent {
  margin: 1em;
}

.contactPageSessionOneComponent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contactPageSessionOneComponent h1 {
  margin-top: 0.25em;
}

.contactFlexSessionComponent {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.contactFlexSessionOneComponent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 49%;
}

.contactFlexSessionTwoComponent {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 49%;
}

.footerComponent {
  background-color: rgba(25, 103, 219);
  width: 100%;
  height: 100%;
  color: white;
  padding: 1em;
}

/* Remova a margem superior das seções com links de âncora */
#home, #about, #faq, #contact {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .homePageSessionTwoComponent {
    display: none;
  }

  .homePageSessionOneComponent {
    width: 100%;
  }
  
  .homePageSessionOneButtonsComponent {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contactFlexSessionOneComponent {
    width: 100%;
  }

  .contactFlexSessionOneComponent,
  .contactFlexSessionTwoComponent {
    width: 100%;
  }

  .contactPageSessionOneComponent,
  .faqPageSessionOneComponent
  /* .aboutPageSessionOneComponent, */
  /* .homePageSessionOneComponent { */
   {
    align-items: center;
    justify-content: center;
  }
}