.container {
  display: none;
  margin-bottom: 1em;
}

.session1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  margin-top: 0;
  padding-top: 0;
}

.textMessage {
  display: block;
}


.button_session1 {
  display: flex;
  gap: 1em;
}

.button_session1 button:hover {
  background-color: #e0bb7f;
}

.button_session1 button a {
  text-decoration: inherit;
  color: white;
  text-transform: none;
  font-size: 1.3em;
}

#home {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .container {
    margin: 0;
    padding: 0;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .container::before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
  }

  .session1 {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .session1 img {
    height: 240px;
    width: 50%;
    margin-bottom: 1em;
  }

  .headers {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    line-height: 1em;
    margin-top: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .headers h2:first-child {
    font-size: 2em;
    padding: 0;
    margin: 0;
  }

  .headers h2:nth-child(2) {
    font-size: 2em;
    line-height: 2em;
    padding: 0;
    margin: 0;
  }

  .headers h2 {
    padding: 0;
    line-height: 1.5em;
    font-size: 3em;
  }

  .headers p {
    font-size: 1em;
    line-height: 0.8em;
  }

  .textMessage {
    display: block;
  }

  .button_session1 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .button_session1 button {
    width: 220px;
    height: 50px;
    font-weight: bold;
    background-color: #a98955;
    border: none;
    color: white;
    margin: 2em 0;
    margin: 1em;
    padding: 0;
    font-size: 1em;
  }
}