.main {
  margin: 0;
  background-color: #2b2b2c;
}

.whatsAppIcon {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 0.5em;
  right: 0.5em;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
