.TentandoOne {
  display: flex;
  width: 100%;
  align-items: center;
  color: rgb(223, 178, 66);
}

.menuHambIcon svg {
  display: none;
}

.menuHambIcon {
  display: none;
}

.TentandoOneLogo {
  width: 180px;
  height: 50px;
}

.menuItems {
  display: block;
}

.menuListItems {
  display: flex;
  gap: 2em;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.menuItemsButton {
  height: 40;
  width: 10em;
  background-color: rgb(223, 178, 66);
  text-transform: none;
}

@media screen and (max-width: 800px) {
  .TentandoOne {
    justify-content: space-between;
  }

  .menuHambIcon {
    display: block;
  }

  .menuHambIcon svg {
    display: block;
  }

  .menuItems {
    display: none;
  }

  .TentandoOneLogo {
    width: 140px;
    height: 38px;
  }
}