.aboutPageComponent {
  margin: 2em 0;
  margin-top: 1em;
}

.aboutPageSessionOneComponent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/**/
.aboutPageSessionOneComponent button {
  background-color: #a98955;
  margin: 1em 0;
  width: 140px;
  height: 40px;
}

.aboutPageSessionOneComponent button:hover {
  background-color: #e0bb7f;
}

.aboutPageSessionOneComponent button a {
  /* background-color: #e0bb7f; */

  text-decoration: inherit;
  color: white;
  text-transform: none;
}
/**/

#home,
#about,
#faq,
#contact {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {}