.aboutPageComponent {
  margin: 2em 0;
  margin-top: 1em;
}

.aboutPageSessionOneComponent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.aboutPageSessionOneComponent button {
  width: 140px;
  height: 40px;
  /* background-color: rgb(163, 120, 42); */
  background-color: #a98955;
  border: none;
}

.aboutPageSessionOneComponent button:hover {
  background-color: rgb(223, 178, 66);
}

.aboutPageSessionOneComponent button a {
  color: #f9faff;
  text-decoration: none;
  font-weight: bold;
}

#home,
#about,
#faq,
#contact {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 800px) {}