@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kay+Pho+Du:wght@600&family=Lato&family=Nunito+Sans:opsz@6..12&family=Raleway:wght@100;500;600;700&family=Roboto&display=swap');

.footerComponent {
  color: white;
  padding: 3em 6em;
  width: 100%;
  background-color: #2b2b2c;
  height: 100%;
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  z-index: 9999;
}

.footerSessionOneComponent {
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.footerAnchorItemOne {
  text-decoration: none;
  color: #e0bb7f;
}

.footerSessionTwoComponent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.socialIconsSpan {
  display: flex;
  gap: 0.5em;
  color: #e0bb7f;
}

.footerSessionThreeComponent {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .footerComponent {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    color: white;
    padding: 2em;
  }
}
