.faqPageComponent {
  margin: 2em 0;
}

.faqPageSessionOneComponent {
  display: flex;
  flex-direction: column;
}

.faqPageSessionOneComponent h1 {
  margin-top: 0.5em;
}

.faqListComponent {
  margin-top: 1em;
}

#faq {
  margin: 0;
  padding: 0;
}

/*  */
.button_session1 {
  width: 180px;
  height: 50px;
  font-weight: bold;
  background-color: #a98955;
  border: none;
  color: white;
  margin: 2em 0;
}

.button_session1 a {
  background-color: #a98955;

  text-decoration: inherit;
  color: white;
  text-transform: none;
  font-size: 1.5em;
}

@media screen and (max-width: 800px) {
  .faqPageSessionOneComponent {
    align-items: center;
    justify-content: center;
  }
}